{:paths ["src/main" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        kotoba-lang/kisekae {:git/url "https://github.com/kotoba-lang/kisekae.git"
                                     :git/sha "34391c451b34fae7c4de1e172177a8fedc643396"}
        io.github.kotoba-lang/kami-eizo-timeline {:git/sha "c0116940f19eb1ca70a8f050c9f22d0513e3b8a7"}
        kotoba-lang/kami-ongaku-project {:git/url "https://github.com/kotoba-lang/kami-ongaku-project.git"
                                     :git/sha "6a14e1814a893f690aa0133ecbceff7478ca7f41"}
        kotoba-lang/douga {:git/url "https://github.com/kotoba-lang/douga.git"
                                     :git/sha "b957073d095c5cf96ab7465ad261cbc20eba924d"}}
 :aliases
 {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.11.132"}
                      reagent/reagent {:mvn/version "1.2.0"}
                      com.thheller/shadow-css {:mvn/version "0.6.1"}
                      thheller/shadow-cljs {:mvn/version "2.28.20"}}}
  :pages {:extra-paths ["src/dev"]
          :extra-deps {com.thheller/shadow-css {:mvn/version "0.6.1"}
                       org.clojure/data.json {:mvn/version "2.5.1"}
                       hiccup/hiccup {:mvn/version "2.0.0-RC4"}}}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :e2e {:extra-paths ["test-e2e"]
        :extra-deps {io.github.cognitect-labs/test-runner
                     {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
        :main-opts ["-m" "cognitect.test-runner" "-d" "test-e2e"]}}}